.main-page-upload {
  height: 100vh;
  width: 100vw;
  background-color: #1ec48e;
}

.container-form-upload {
  width: 90%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #fff;
  border-radius: 5px;
  background-color: #009688;
}

.upload-text-label {
  color: #fff;
}

.bg-color-mediumpurple {
  background-color: mediumpurple;
}

.bg-color-cornflowerblue {
  background-color: cornflowerblue;
}
